@charset "utf-8";

.single .entry-content{
	margin-right: 30px;
}
.single .entry-content .entry-img{
	text-align: center;
	background: transparent url(/common/img/entryimg-bg.gif) 0 0 repeat;
	margin-bottom: 20px;
}
.single .entry-content .entry-img img{
	max-width: 744px;
}
.single .entry-content .entry-txt{
	margin-bottom: 30px;
	line-height: 1.9;
}
.single .entry-content .entry-txt p{
	margin-bottom: 1em;
}
#content .entry-content .entry-txt	a.download{
	display: block;
	width: 292px;
	padding:20px 0;
	margin: 30px auto;
	text-align: center;
	border-radius:5px;
}
.single #content>header{
	margin-bottom: 20px;
	background-color: transparent;
	color:#666;
	border: 1px solid #ccc;
}
.single #content>header a{
	color:#666;
}

#content article header{
	position: relative;
	top: auto;
	left: auto;
	line-height: 18px;
	color: #999;
	font-size: 10px;
}
#content article header a{
	color: #999;
}

.single #content article>header h1{
	margin-bottom:0px;
	margin-right: 30px;
	padding: 24px 14px;
	font-family: 'Lusitana',"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	font-size: 280%;
	border-radius:5px 5px 0 0;
	color: #fff;
	background-color: #333;
	line-height: 1;
	font-weight: bold;
}

/* Text Style */
.single .entry-content .entry-txt strong{font-weight: bold;font-style: inherit;}
.single .entry-content .entry-txt i,
.single .entry-content .entry-txt blockquote{padding:12px;background-color:#efefef;font-style: italic;}
.single .entry-content .entry-txt blockquote strong{font-size:14px;line-height: 2;}
.single .entry-content .entry-txt code{padding:12px;background-color:#efefef;}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 10px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 10px;
}
.aligncenter {
	margin: 0 10px;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------
	category colors 
--------------*/
#content article .entry-txt a{
	color:#fff;
}
#content article .entry-txt .wp_social_bookmarking_light a{
	color:#333;
	padding: 0;
	background-color: transparent !important;
}

#content article.column>header h1,
#content article.column .entry-txt a{background-color:#f06; }

#content article.text>header h1,
#content article.text .entry-txt a{background-color:#06d;}

#content article.art>header h1,
#content article.art .entry-txt a{background-color:#a3a}

#content article.music>header h1,
#content article.music .entry-txt a{background-color:#6d0}

#content article.artist>header h1,
#content article.artist .entry-txt a{background-color:#333}

#content article.review>header h1,
#content article.review .entry-txt a{background-color:#0cc}

#content article.info>header h1,
#content article.info .entry-txt a{background-color:#f90}

#content article.news>header h1,
#content article.news .entry-txt a{background-color:#f00}