@charset "utf-8";
body{
    height:auto;
}
a{
    color:#f90;
}
h1{
    margin-bottom: 20px;
}

.credit{
    font-size: 12px;
    font-weight:bold;
    margin-bottom:20px;
}
.credit strong{
    font-size: 18px;
}

.download{
    height:auto;
    color:#fff;
    background-image: none;
    padding: 30px 0;
}
h2.dlbtn{
    margin-bottom:20px;
}
h2.dlbtn a{
    display:block;
    background-color:#fff;
    padding:20px;
    color:#f90;
    font-size:24px;
    font-weight:bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.description{
    font-size:12px;
    margin-bottom:40px;
}

h3{
    font-weight: bold;
    font-size:18px;
    border: 1px solid #fff;
    padding:10px;
    margin-bottom:20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.inactive{
    color:#999;
}

.notice{
    
}


form{
    
}
form .pw{
    font-size: 18px;
    width:300px;
    text-align: center;
    margin-bottom: 10px;
}
form input.submit,
form input[type="submit"]{
    padding:5px;
    font-size: 20px;
}
